.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputText {
    border-radius: 4px 20px;
}

.inputText:focus{
    background-color: #b1d5db;
}

.inputTextObligatorio {
    background-color: cadetblue;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    background-color: #64bddb;
    color: white;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
    font-size:14px;
    font-weight:normal;
    font-family: sans-serif;
}

.borderless td, .borderless th {
    border: none !important;
}

.divSpinnerLoading {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
 }

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}

.temporalPart{
    background-color:#ad0a0a85 !important;
    color: white !important;    
}

.footer {  
    background-color: #ad0a0a85;  
    color: #ad0a0a85;
    width: 25px;
 }